[buildout]
extends = 
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = collective.js.jqueryui

[versions]
collective.js.jqueryui=1.10.2.dev0

[instance]
zcml+=collective.js.jqueryui.example